@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+3:wght@600;700&display=swap');

body,
ul,
p,h1,h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------HEADER--------------- */

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}


.navbar {
    list-style: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding-top: 38px;

}

li {
    display: inline-block;
}

.container__left {
    float: left;
   
}

.navbar__First-list {
    font-size: 22px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}

.container__right{
    float: right;
   
}
.right-width,.left-width{
    width: 50%;
}

.navbar__list {
    font-size: 18px;
    padding-top: 38px;
    margin-right: 50px;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
    color: white;

}

.navbar__list:nth-child(3) {
    margin-right: 0;
}

/* --------------Hero section--------------- */

.hero-section__main {
    background: linear-gradient(119deg, rgba(0, 0, 0, 0.5), rgba(42, 42, 42, 0.5)), url(https://i.ibb.co/hgjmnMB/image.png) center/cover;
    height: 100vh;
    object-fit: contain;
}

.hero-section_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-section__line1 {
    color: white;
    text-align: center;
    text-shadow: 0 6px 11px rgba(0, 0, 0, 0.5);
    font-family: 'Source Sans 3', sans-serif;
    width: 1000px;
    margin: 0;

}

.hero-section__line2 {
    text-shadow: 0 6px 11px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: white;
    text-align: center;
    margin-top: 8px;

}

.hero-section__btn {
    text-align: center;
    margin-top: 30px;


}

.hero-section__button {
    background-color: #00d5a6;
    padding: 13px 55px 13px 56px;
    border-radius: 3px;
    box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.5);
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}


/* --------------Main section--------------- */

.container {
    margin: 0 auto 0 auto;
    max-width: 1100px;
    display: flow-root;
}

.margin__container{
    margin-top: 108px;
}

.Font-lg {
    font-size: 70px;
}

.Font-md {
    font-size: 22px;
}

.Font-sm {
    font-size: 16px;
}

.container__Lorem1 {
    font-family: 'Source Sans 3', sans-serif;
    color: #29465B;

}

.container__Lorem2 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.59;
    letter-spacing: normal;

}

.container__right-img{
    width: 500px;
}

.container__CTA-Link{
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.94;
    color: #FF1493;
    text-decoration: none;

}

.container__Imac {
    width: 433px;
    height: 524px;
}

.container__Lorem3 {

    margin-top: 170px;
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.59;
    color: #29465B;


}

.container__Lorem4 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.59;


}

.line {
    border-top: 2px solid #800080;
    height: 2px;
    margin-top: 26px;
    opacity: 0.25;

}

.container__Lorem5 {
    margin-top: 26px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: normal;


}

.container__Lorem5 .Text-style {
    font-family: 'Source Sans 3', sans-serif;
    color: #FF1493;

}

.container__Shape-img {
    width: 70px;
    height: 70px;
    margin: 22px 0 0 360px;
    position: relative;
    bottom: 80px;
    left: 165px;

}

.container__Lorem6 {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.59;
    color: #29465B;
}

.container__Lorem7 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.59;
    letter-spacing: normal;
    color: var(--black-two);
}

.feature {
    margin-top: 23px;

}

.feature1 {
    display: inline-block;
    margin-left: 38px;
}

.fa-check {
    color: #ffffff;
    background-color: #00e3aa;
    padding: 7px 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #00e3aa;
    border-radius: 50%;
    margin-bottom:12px;

}

.feature__text {
    color: black;
    float: right;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    color: #29465B;

}

.container__tablet {

    width: 510px;
    height: 387px;
    position: relative;
    bottom: 40px;
}


/* --------------Footer Section--------------- */


.footer {
    border: solid 1px #e7e8ea;
    background-color: #fbfafc;
    text-align: center;

}

.footer__logo{
    font-size: 20px;
    font-weight: bold;
    color: #282b31;
    float: left;
    line-height: 80px;
    font-family: 'Source Sans 3', sans-serif;
}

.footer a {
    text-decoration: none;
}

.footer__store{
    display: inline-block;
}


.store__link {
    width: 170px;
    height: 50px;
    display: inline-block;
}

.store__link img {
    width: 100%;
}

.social-icons {
    float: right;
    line-height: 80px;
    font-size: 0;
}

.icon {
    color: #b9bdc3;
    border: solid 1px #e7e8ea;
    background-color: #ffffff;
    padding: 12px;
}

.icon:nth-child(1) {
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.icon:nth-child(3) {
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.footer-bottom {
    padding: 22px 0 23px;
    border: solid 1px #e7e8ea;
    background-color: #f8f9fa;
}

.container__copyright {
    font-size: 11px;
    color: #999ea8;
    float: left;
}
